In [1]:
import pandas as pd
import numpy as np

In [10]:
dates = pd.date_range("20130101", periods=100)

In [11]:
df = pd.DataFrame(dates)

In [16]:
df.head(n=10)

           0
0 2013-01-01
1 2013-01-02
2 2013-01-03
3 2013-01-04
4 2013-01-05
5 2013-01-06
6 2013-01-07
7 2013-01-08
8 2013-01-09
9 2013-01-10